* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: #fff;
    color: black;
    border-radius: 12px;
    padding: 40px 50px;
    width: 30vw;
}

.quote-text {
    font-weight: 500;
    font-size: 1.75em;
}

.quote-author {
    margin: 20px 0px ;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

.btn {
    text-decoration: none;
    color: white ;
    background-color: black;
    border-radius: 6px;
}

.share-btns {
    font-size: .85em;
}

.share-btn {
    box-sizing: border-box;
}

.btns {
    display: flex;
    justify-content: space-between;
}


#tweet-quote,#tumblr-quote {
    float: left;
    padding: 0px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#tumblr-quote {
    margin-left: 2vh;
}

#new-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

#new-quote:active {
    opacity: 0.7;
}


.footer {
    color: white;
    margin-top: 10px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

